@page "/Guess_FilmDetail"
@layout MainLayout 

<div class="container-fluid justify-content-center" style="background-image:url(./images/top-rated-bg.jpg);min-height:870px;padding-bottom:100px">
    <div class="container" style="padding-top:100px">
        <div class="container-fluid fs-6 m-0 p-0" style="color:hsl(57, 97%, 45%);">ONLINE STREAMING</div>
        <div class="container-fluid d-flex m-0 p-0">
            <div style="font-size:40px;" class="container m-0 p-0 mt-4 text-light fw-bold">
                UPCOMING MOVIES
            </div>
            <div style="" class="container d-flex m-0 p-0 flex-wrap justify-content-end align-items-center">
                <MudButton Variant="Variant.Outlined" Style="border-color:hsl(57, 97%, 45%);height:50px;" Class="fs-5 ms-2 border-2 rounded-pill text-light">Movies</MudButton>
                <MudButton Variant="Variant.Outlined" Style="border-color:hsl(57, 97%, 45%);height:50px;min-width:150px" Class="fs-5 ms-2 border-2 rounded-pill text-light">TV Shows</MudButton>
                <MudButton Variant="Variant.Outlined" Style="border-color:hsl(57, 97%, 45%);height:50px;" Class="fs-5 ms-2 border-2 rounded-pill text-light">Anime</MudButton>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid justify-content-center" style="background-image:url(./images/top-rated-bg.jpg);min-height:870px;padding-bottom:100px">
    <div class="container" style="padding-top:100px">
        <div class="container d-flex justify-content-center">
            <div class="fs-6 m-0 p-0" style="color:hsl(57, 97%, 45%);">ONLINE STREAMING</div>
        </div>
        <div class="container d-flex justify-content-center" style="margin-bottom:30px">
            <div class="container-fluid d-flex justify-content-center d-flex m-0 p-0">
                <div style="font-size:40px;" class="m-0 p-0 mt-4 text-light fw-bold">
                    World Best TV Series
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-between flex-wrap" style="margin-top:50px">

        <MudCard Style="min-width:24%;max-width:100%;margin-top:30px;background-color: rgba(0, 0, 0, 0)" Class="btn" data-mdb-ripple-color="light">
            <MudCardMedia Height="400" Image="./images/movie-1.png"></MudCardMedia>
            <MudCardContent Class="container-fluid d-flex justify-content-between text-light ps-0 pe-0">
                <MudText Class="ms-0 me-0">Story of the day</MudText>
                <MudText Class="ms-0 me-0" Typo="Typo.body2">2022</MudText>
            </MudCardContent>
            <MudCardContent Class="container-fluid d-flex justify-content-between text-light ps-0 pe-0">
                <MudRating Class="ms-0 me-0" ReadOnly="true" SelectedValue="2" />
                <MudText Class="ms-0 me-0" Typo="Typo.body2">128Min</MudText>
            </MudCardContent>
        </MudCard>
        <MudCard Style="min-width:24%;max-width:100%;margin-top:30px;background-color: rgba(0, 0, 0, 0)" Class="btn" data-mdb-ripple-color="light">
            <MudCardMedia Height="400" Image="./images/movie-2.png"></MudCardMedia>
            <MudCardContent Class="container-fluid d-flex justify-content-between text-light ps-0 pe-0">
                <MudText Class="ms-0 me-0">Story of the day</MudText>
                <MudText Class="ms-0 me-0" Typo="Typo.body2">2022</MudText>
            </MudCardContent>
            <MudCardContent Class="container-fluid d-flex justify-content-between text-light ps-0 pe-0">
                <MudRating Class="ms-0 me-0" ReadOnly="true" SelectedValue="2" />
                <MudText Class="ms-0 me-0" Typo="Typo.body2">128Min</MudText>
            </MudCardContent>
        </MudCard>
        <MudCard Style="min-width:24%;max-width:100%;margin-top:30px;background-color: rgba(0, 0, 0, 0)" Class="btn" data-mdb-ripple-color="light">
            <MudCardMedia Height="400" Image="./images/movie-3.png"></MudCardMedia>
            <MudCardContent Class="container-fluid d-flex justify-content-between text-light ps-0 pe-0">
                <MudText Class="ms-0 me-0">Story of the day</MudText>
                <MudText Class="ms-0 me-0" Typo="Typo.body2">2022</MudText>
            </MudCardContent>
            <MudCardContent Class="container-fluid d-flex justify-content-between text-light ps-0 pe-0">
                <MudRating Class="ms-0 me-0" ReadOnly="true" SelectedValue="2" />
                <MudText Class="ms-0 me-0" Typo="Typo.body2">128Min</MudText>
            </MudCardContent>
        </MudCard>
        <MudCard Style="min-width:24%;max-width:100%;margin-top:30px;background-color: rgba(0, 0, 0, 0)" Class="btn" data-mdb-ripple-color="light">
            <MudCardMedia Height="400" Image="./images/movie-4.png"></MudCardMedia>
            <MudCardContent Class="container-fluid d-flex justify-content-between text-light ps-0 pe-0">
                <MudText Class="ms-0 me-0">Story of the day</MudText>
                <MudText Class="ms-0 me-0" Typo="Typo.body2">2022</MudText>
            </MudCardContent>
            <MudCardContent Class="container-fluid d-flex justify-content-between text-light ps-0 pe-0">
                <MudRating Class="ms-0 me-0" ReadOnly="true" SelectedValue="2" />
                <MudText Class="ms-0 me-0" Typo="Typo.body2">128Min</MudText>
            </MudCardContent>
        </MudCard>

    </div>
</div>

@code{
    [Parameter]
     public Guid id {get ; set;}
}

