@page "/Register"
@layout NoneLayout

<h1 style="text-align: center;font-weight: bold">Register</h1>  
<EditForm Model="@model" OnValidSubmit="HandleAsync" >
    <DataAnnotationsValidator/>
    <MudGrid >
        <MudItem Class="w-100 h-100">
            <MudCard Class="p-2" Style="background: none;color:white">
                <MudCardContent>
                    <MudTextField Style="color:white"
                                  @bind-Value="model.Username" Placeholder="User Name" />
                    <MudTextField Class="mt-3"
                                  @bind-Value="model.Email" InputType="InputType.Email" Placeholder="Email" Style="color:white" />
                    <MudTextField Class="mt-3" 
                                  @bind-Value="model.Password" InputType="InputType.Password" Placeholder="Password" Style="color:white" />
                    <MudTextField Class="mt-3"
                                  @bind-Value="model.ConfirmPassword" InputType="InputType.Password" Placeholder="Confirm Password" Style="color:white" />
                </MudCardContent>  
                <div style="display:flex;justify-content: space-between">
                    <div>
                       <MudCheckBox @bind-Value="Basic_CheckBox2" Color="Color.Primary">Remember me</MudCheckBox>
                    </div>
                </div>
                <MudCardActions Class="d-flex justify-content-center align-items-center mt-2">
                    <MudButton Disabled="@_processing" OnClick="ProcessSomething" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large">
                        @if (_processing)
                        {
                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                            <MudText Class="ms-2">Processing</MudText>
                        }
                        else
                        {
                            <MudText>Register</MudText>
                        }
                    </MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>
<div class="d-flex justify-content-center align-items-center mt-2">
    <p>
        If you already have an account <MudLink Href="https://localhost:7272/login" Underline="Underline.Always">Login</MudLink>
    </p>
</div>
<div class="d-flex justify-content-center align-items-center">
    <ion-icon style="width: 50px; height: 50px;margin-top: 20px;"
              name="arrow-back-circle-outline"></ion-icon>
</div>

@code {
    public bool Basic_CheckBox2 { get; set; } = true;
    private class RegisterModel
    {	
        public string? Username { get; set; }
        public string? Email { get; set; }
        public string? Password { get; set; }
        public string? ConfirmPassword { get; set; }
    }
    private bool _processing = false;

    async Task ProcessSomething()
    {
        _processing = true;
        await Task.Delay(2000);
        _processing = false;
    }
    
    private RegisterModel model = new RegisterModel();
    
    private async Task HandleAsync(EditContext editContext)
    {
        Console.WriteLine("OnValidSubmit");
        await Task.CompletedTask;
    }
}