@page "/WatchingFilm"

@layout MainLayout

<div class="container-fluid d-flex justify-content-center" style="background-image:url(./images/top-rated-bg.jpg)">
    <video class="container mt-5" id="videoPlayer" webkit-allowfullscreen controls autoplay muted>
        <source src="https://youtu.be/h6RONxjPBf4?si=cwisLZ48yOaUQLuA" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>

